<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Chat application</h1>
    <label for="message">Enter your message!</label><br>
    <input type="text" id="message"><br>
    <button id="send-button">Send</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" defer></script>
</body>
</html>